<a class="btn btn-primary" routerLink="/individual-dashboard">Back</a><br> <br>

 <h3>Search Individual </h3>
    <input type="text" placeholder= "Enter username" /><br>
  
      
       <div *ngIf = "this.member != null" >
         Nam : {{this.member.name}}
         Surname : {{this.member.surname}}
         Age :{{this.members.age}}
         Nationality :{{this.member.nationality | nationalityEnumFilter}}
         Race : {{this.member.race |raceEnumFilter}}
         Gender : {{this.member.gender |genderEnumFilter}}
         <p *ngIf = "this.participant != null">
         Participant Name: {{this.participant.name}}
         Participant Services Rendered : {{this.participant.participantDescription}}
         </p>
       </div>
    <a class="btn btn-primary" (click) = "Search(this.username)">Search</a><br> <br>