<div class="card card-container">
  <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  <p id="profile-name" class="profile-name-card"></p>
  <form [formGroup]="form" class="form-signin" (ngSubmit)="submitForm(form.value)">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="text" name="username" class="form-control" placeholder="Username" formControlName="username" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
  </form>
</div>