<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Wot-If?</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul *ngIf="auth.loggedIn()" class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink="individual-dashboard">Individuals</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="general">General</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="participants">Participants</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="talents">Talents</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="surveys">Surveys</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" *ngIf="auth.loggedIn()"><a routerLink="admin">Admin</a></li>
        <li [routerLinkActive]="['active']" *ngIf="!auth.loggedIn()">
          <a routerLink="login">Login</a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="auth.loggedIn()">
          <a routerLink="login" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <footer style="position: fixed; ">
    <img src = "logo.png" >

  </footer>
