<div *ngIf="editMode">

  <div class="form-group">
    <label for="talentText" class="col-lg-9 control-label">Name of Talent</label>
    <div class="col-lg-15">
      <input id="talentText" name="talentText"  [(ngModel)]="talentText" (ngModelChange)="notifyChange()" class="form-control"
        required />
    </div>
  </div>
    <div class="form-group">
    <label for="talentYears" class="col-lg-9 control-label">Years Experience</label>
    <div class="col-lg-15">
      <input id="talentYears" name="talentYears" [(ngModel)]="talentYears" (ngModelChange)="notifyChange()" class="form-control"
        required />
    </div>
  </div>
</div>

<!--
<div *ngIf="!editMode">
  <app-dynamic-talent [talent]="talentModel"></app-dynamic-talent>
  <button class="btn btn-primary" (click)="toggleEditMode()"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Edit</span></button>
</div> -->