<h1>Create a Survey</h1>

<form class="form-vertical">
  <h3>Survey Details</h3>
  <div class="form-group">
    <label for="surveyName">Survey Title</label>
    <input type="text" id="surveyName" name="surveyName" class="form-control" [(ngModel)]="surveyApiModel.title" required />
  </div>

  <div class="form-group">
    <label for="surveyDescription">Survey Description</label>
    <textarea id="surveyDescription" name="surveyDescription" class="form-control" [(ngModel)]="surveyApiModel.description" required></textarea>
  </div>

  <h3>Questions</h3>
  <div *ngFor="let question of questions">
    <div>
      <app-question-create-toggle [questionTypes]="questionTypes" [(questionText)]="question.text" [(questionType)]="question.type"></app-question-create-toggle>
    </div>
    <div>
      <button *ngIf="questions.indexOf(question) !== 0" class="btn btn-warning" (click)="moveQuestionUp(question)"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Up</button>
      <button *ngIf="questions.indexOf(question) !== questions.length-1" class="btn btn-warning" (click)="moveQuestionDown(question)"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Down</button>
      <button class="btn btn-danger" (click)="removeQuestion(question)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
    </div>
  </div>

  <button class="btn btn-success" (click)="addQuestion()">Add Question</button>
  <button class="btn btn-primary" [disabled]="surveyApiModel.title === undefined ||
    surveyApiModel.title === ''  ||
    surveyApiModel.description === undefined ||
    surveyApiModel.description === '' ||
    questions.length === 0 ||
    !validateQuestions()"
    (click)="createSurvey()">Create Survey</button>
</form>