<h1>Create Individual</h1>


<form>
  <input type="radio" name="ChosenFunction" value="Add" checked> Add Individual 
  <input type="radio" name="ChosenFunction" value="Edit"> Edit Individual 
  <input type="radio" name="ChosenFunction" value="Search"> Search by Name  
</form> 

<br>

<div >
    <label>Name</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Surname</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Age</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>ID</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Nationality</label>
</div>
<div class="form-group">
    <input id="input" />
</div>



<div >
    <input type="checkbox" name="vehicle" value="Bike"> Talent<br>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Name of talent</label>
</div> 
<div class="form-group">
    <input id="input" />
</div>

<div>
    <label>Years of experience</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Participant</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

<div >
    <label>Entity name</label>
</div>
<div class="form-group">
    <input id="input" />
</div>

