
Search Individual 
    <input 
      ng2-auto-complete
      blank-option-text="Select Individuals"
      [(ngModel)] = "SelectedUsername"
      [source]="members"
      display-property-name="username" 
      placeholder="Enter username"/> 
     
       <pre *ngIf = "SelectedUsername != null" >
         Name : {{SelectedUsername.name}}
         Surname : {{SelectedUsername.surname}}
        <!-- Username : {{SelectedUsername.username}}
         IDNumber : {{SelectedUsername.id}} -->
         Age :{{SelectedUsername.age}}
         Nationality :{{SelectedUsername.nationality | nationalityEnumFilter}}
         Race : {{SelectedUsername.race |raceEnumFilter}}
         Gender : {{SelectedUsername.gender |genderEnumFilter}}
         <p *ngIf = "this.participant != null">
         Participant Name: {{this.participant.name}}
         Participant Services Rendered : {{this.participant.participantDescription}}
         </p>
       </pre>


<a class="btn btn-primary" routerLink="/individual-create">Create Individual</a>
<br>
<br>
<br>

<pre *ngIf = "SelectedUsername == null">
<table id="t01">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <!--<th>Username</th>
    <th>IDNumber</th>-->
    <th>Age</th>
    <th>Nationality</th>
    <th>Race</th>
    <th>Gender</th>
    <th>Edit Individual</th>
    <th>Remove Individual</th>
   <th></th>
  </tr>
  <tr *ngFor = 'let member of members ' [class.selected]="IsSelected(member)">
    <td>{{member.name}}</td>
    <td>{{member.surname}}</td>
    <!--<td>{{member.username}}</td>
    <td>{{member.idNumber}}</td>-->
    <td>{{member.age}}</td>
    <td>{{member.nationality| nationalityEnumFilter}}</td>
    <td>{{member.race |raceEnumFilter}}</td>
    <td>{{member.gender |genderEnumFilter}}
    <td><tr><a class="btn btn-primary" (click) = "EditMember(member)" >Edit</a></tr></td>
    <td><tr><a class="btn btn-primary" (click) = "DeleteMember(member)">Remove</a></tr></td>
 
  
  </tr>
  
</table>

</pre>